unstructured
transformers
huggingface_hub
sentence-transformers
langchain
langchain-core
langchain-groq
langchain-huggingface
langchain-community
langchain-chroma
bs4
selenium
python-dotenv
gTTS
pydub
streamlit
pyngrok
pygltflib
gradio
arabic-reshaper
requests
ipython
fastapi
uvicorn
